@keyframes child-growup {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes masked-fadeup {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}

@keyframes heart-beats {
  0%   { transform: scale(1); }
  7%   { transform: scale(1.2); }
  12%  { transform: scale(1.1); }
  20%  { transform: scale(1.3); }
  60%  { transform: scale(1); }
  100% { transform: scale(0.99); }
}

.anim-heart-beats {
  animation: heart-beats 1s infinite;
  animation-fill-mode: backwards;
}

.anim-stop {
  animation-play-state: paused;
}

.anim-play {
  animation-play-state: running;
}