.c-navbar {
  background-color: $primary;
  color: $white;

  .navbar-toggler {
    padding-left: 0;
  }

  .navbar-nav {
    text-align: left;
    width: 100%;
    align-content: stretch;
    @include media-breakpoint-up(lg) {
      text-align: center;
    }

    .nav-item {
      flex-grow: 1;
    }

    .dropdown-menu {
      margin: ($spacer / 4) 0 0 0;
      @include media-breakpoint-up(lg) {
        &:before {
          content: '';
          position: absolute;
          top: -10px;
          left: 35px;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid $white;
        }
      }
    }
    @include media-breakpoint-up(lg) {
      .dropdown-item:first-child:hover:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 35px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $secondary;
      }
    }

    .dropdown-divider {
      margin: 0;
    }
  }
}
