.p-seminaires {

  .c-contact__address-col {
    padding-bottom: 0;
  }

  .c-catalogues__col {
    padding: 0;
  }

  .c-catalogues__title {
    @extend .h5;
    font-weight: 700;
    color: $gray;
    top: $spacer*2;
  }

  .c-catalogues__item {
    box-shadow: none;
  }
}