// Options
$enable-rounded: false;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: ($spacer * 1.5),
  4: ($spacer * 2),
  5: ($spacer * 3)
);

// Grid columns
$grid-columns: 12;
$grid-gutter-width: 32px;

// Grid columns
$grid-gutter-width: 32px;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$font-family-sans-serif: 'Lato', sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-heavy: 900;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.6;

$font-size-base: 1rem !default;
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .813);
$h6-font-size: $font-size-base * 1.125;


// Color system
$white: #ffffff;
$black: #000000;
$gray-100: #f1f2f2;
$gray-200: #e9e9ef;
$gray-500: #939598;
$gray-700: #b7b9bc;
$gray-800: #000000;
$gray-900: #000000;
$body-bg: $gray-100;

$primary: #29235e;
$secondary: #ff3053;

// Links
$link-color: $black;

